numpy==1.26.4
nltk==3.9.1
spacy==3.7.5
pyLDAvis
sentence-transformers 
gensim==4.3.3
pandas==2.2.2
biopython==1.84
wordcloud==1.9.3
dash
plotly
scikit-learn
huggingface_hub
scholarly
fitz
PyPaperBot
frontend
wrapt==1.14.0
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_lg-0.5.4.tar.gz
