# Essential libraries
numpy
pandas
seaborn
matplotlib
plotly
dash
base64
io
json
regex
logging
warnings
os
shlex
random

# NLP and Text Processing
nltk
spacy
sentence-transformers
wikipedia-api
transformers
gensim
pyLDAvis
networkx

# File Handling and PDF Processing
pymupdf  # fitz library
chardet

# Parallel Processing
concurrent.futures  # Standard library for multiprocessing

# Machine Learning and Embedding Models
torch
datasets
huggingface-hub

# Testing
unittest